<ul> User <%= user.name %>
  <li> First Name is <%= user.first_name %></li>
  <li> Last Name is <%= user.last_name %></li>
  <li> Email is <%= user.email %> </li>
  <li> ID is <%= user.id %> </li>
</ul>
<a href='/user/new'>Create User</a>
<br/>
